@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

.wp-block-image {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.wp-element-caption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

/* Responsive Embeds */
.prose {
  iframe,
  video,
  embed {
    width: 100% !important;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    height: auto !important;
  }
  h2, h3, h4 {
    @apply px-4
  }

  p {
    @apply px-6
  }
}

.wp-block-embed {
  margin-left: 0;
  margin-right: 0;
  width: 100% !important;
  max-width: 100%;
}

.wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
