---

---

<!-- Header -->
<header class="bg-white/90 backdrop-blur w-full flex flex-col items-center">
    <div class="p-4">
        <img
            src="https://voxpopuli.digital/wp-content/uploads/2022/01/logo_vox_populi_2.png"
            alt=""
        />
    </div>
    <div class="bg-slate-800 w-full">
        <div class="flex gap-4 justify-center text-white font-semibold text-lg">
            <div class="bg-slate-800">Vox</div>
            <div class="bg-slate-800">Lorem</div>
            <div class="bg-slate-800">Tenet</div>
            <div class="bg-slate-800">Sator</div>
            <div class="bg-slate-800">Rodas</div>
        </div>
    </div>
</header>
